h1 {
  color: red !important;
}

.location-button {
  color: skyblue;
  background-color: black;
}

.resort-info-box {
  display: inline-block;
  width: 100%;
  height: 300px;
  border: black solid 2px;
}

.form-container,
.resort-info-container {
  text-align: center;
}

.banner {
  background-image: url('../banner.jpg');
  background-position: center;
  height: 100px;
}
